
body(
     background-color: #65000b;
     text-align: center;
	 color: #b94e48  ;
     color: #fff8dc  ;
)
body(
     text-align: center;
     color:#fff8dc  ;
)

body(
     text-align: center;
     text-align: center;
     text-align: center;
     text-align: center;
     text-align: center;
     text-align: center;


)

SERENA
body(
     background-color: #3B1C32;
     text-align: center;
     color: #6A1E55  ;
     color: #A64D79  ;
)


body(
     text-align: center;
     color:#A64D79  ;
)

BLAIR
body(
     background-color: #5F374B;
     text-align: center;
     color: #b768a2  ;
     color: #EEE4B1  ;
)


body(
     text-align: center;
     color:#EEE4B1	 ;

CHUCK
body(
     background-color: #321E1E;
     text-align: center;
     color: #701c1c  ;
     color: #fff8dc  ;
)


body(
     text-align: center;
     color:#fff8dc  ;
)

NATE
body(
     background-color: #041C32;
     text-align: center;
     color: #ECB365  ;
     color: #064663  ;
)


body(
     text-align: center;
     color:#064663  ;
)
     


 